<form method="post" action="{{ path('app_agent_delete', {'id': agent.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet agent de la base de données ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agent.id) }}">
    <button class="btn delete-btn">Supprimer</button>
</form>
