{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION | The Spy Company{% endblock %}

{% block body %}
<div class="admin-wrapper">
    {{ include('parts/_header.html.twig') }}

    <main>

    </main>

    {{ include('parts/_footer.html.twig') }}
</div>
{% endblock %}
