{% extends 'base.html.twig' %}

{% block title %}MISSION | The Spy Company{% endblock %}

{% block body %}
    {{ include('parts/_header.html.twig') }}

    <main>
        <div class="titles-wrapper">
            <h1>Créer une mission :</h1>
        </div>
        <div class="table-wrapper">
            <div class="edition-wrapper">
                {{ include('mission/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            </div>
        </div>
        <div class="pagination-menu">
            <a href="{{ path('app_mission_index') }}">Retour</a>
        </div>
    </main>

    {{ include('parts/_footer.html.twig') }}
{% endblock %}