<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ asset('styles/bootstrap.min.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('scripts/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>
