<form method="post" action="{{ path('app_specialty_delete', {'id': specialty.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette spécialité de la base de données ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialty.id) }}">
    <button class="btn delete-btn">Supprimer</button>
</form>
