<form method="post" action="{{ path('app_hideout_delete', {'id': hideout.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette planque de la base de données ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hideout.id) }}">
    <button class="btn delete-btn">Supprimer</button>
</form>
