<footer>
  <div class="footer-transition"></div>
  <div class="footer-content">
    <p class="m-0">Copyright © The Spy Company 2022 - Tous droits réservés.</p>
    <p class="m-0">Contacts : <a href="mailto:j.labatut33127@gmail.com">the-spy-company@spy.com</a>&emsp;|&emsp;<a href="tel:0612345678">06-12-34-56-78</a></p>
  </div>
</footer>